body{
  margin: 0;
  background-color: #232323;
  font-family: 'Montserrat', 'Avenir'
}

.square{
  width: 30%;
  padding-top: 30%;
  float: left;
  margin: 1.66%;
  background-color: #232323;
  border-radius: 15%;
  transition: background 1.5s;
  -webkit-transition: background 1.5s;
  -moz-transition: background 1.5s;
}

#container{
  max-width: 600px;
  margin: 0 auto;
}

h1{
  line-height: 1.1;
  padding: 20px 0px;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0;
  text-align: center;
  background-color: steelblue;
  color: white;
}

#message{
  display: inline-block;
  width: 20%;
}

#display{
  font-size: 200%;
}

.selected{
  color: white;
  background: steelblue;
}

#stripe{
  text-align: center;
  height: 30px;
  background: white;
  color: black;
}

button{
  border: none;
  background: none;
  text-transform: uppercase;
  color: steelblue;
  font-weight: 700;
  height: 100%;
  letter-spacing: 1.1px;
  font-size: inherit;
  transition: all 0.8s;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  outline: none;
}

button:hover{
  color: white;
  background: steelblue;
}
